[submodule "thirdparty/capstone_fork"]
    path = thirdparty/capstone_fork
    url = https://github.com/hzqst/capstone.git
[submodule "thirdparty/procmap_fork"]
    path = thirdparty/procmap_fork
    url = https://github.com/hzqst/procmap.git
